
.avatar {
    margin: 'calc((${layout-header-height} - 24px) / 2)' 0;
    margin-right: 8px;
    color: #5a67d8;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.85);
  }



  .header-menu {
    line-height: 64px;
  }