<div class="container mx-auto px-4 sm:px-8 mt-10">
  <h1 class="text-2xl">Shopping Cart</h1>
  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden bg-white">

      <nz-table #nzTable [nzData]="listOfDisplayData">
        <thead>
          <tr>
            <th nzCustomFilter>
              Product
              <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
            </th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td class="flex items-center">
              <div class="w-10 h-10">
                <img class="w-full h-full rounded-full" src={{data.image}} alt="" />
              </div>
              <p class="ml-3">
                {{data.name}}
              </p>
            </td>
            <td>{{ data.price | currency}}</td>
            <td>{{ this.cartService.quantity[data.Id] }}</td>
            <td><button nz-button nzType="danger" (click)="deleteItem(data)">Delete</button></td>
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </nz-dropdown-menu>
    </div>

    <div class="flex justify-end mt-5">
      <nz-card style="width:300px;" nzTitle="Total Price">
        <p class="text-bold text-xl">{{ this.cartService.totalPrice() |currency}}</p>
        <button class="mt-8" nz-button [disabled]="this.cartService.totalPrice() === 0" (click)="cleanCart()">
          Clean Cart
        </button>
        <button class="mt-8" nz-button nzType="primary" [disabled]="this.cartService.totalPrice() === 0"
          [routerLink]="['/checkout']" routerLinkActive="router-link-active">
          CheckOut
        </button>
      </nz-card>
    </div>



  </div>
</div>
