<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
        <div>
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg"
                alt="Workflow" />
            <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                Let's create an account
            </h2>
            <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
                Or
                <a [routerLink]="['/login']"
                    class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                    Log In
                </a>
            </p>
        </div>

        <form class="mt-8" [formGroup]="rForm" (ngSubmit)="registering()">

        
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <input formControlName="name" [ngClass]="{'border-red-500':name.invalid && name.touched}"
                        class="bg-white appearance-none border-2 border-black rounded w-full py-4 px-4 text-gray-900 leading-tight focus:outline-none focus:border-indigo-500"
                        id="grid-last-name" type="text" placeholder="Name">
                    <p *ngIf="name.invalid && name.touched" class="text-red-500 text-xs italic">Please input your name
                    </p>
                </div>

            </div>

            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <input formControlName="email" [ngClass]="{'border-red-500':email.invalid && email.touched}"
                        class="bg-white appearance-none border-2 border-black rounded w-full py-4 px-4 text-gray-900 leading-tight focus:outline-none focus:border-indigo-500"
                        placeholder="Email address" />
                    <span *ngIf="email.invalid && email.touched" class="text-red-500 text-xs italic">Please input
                        correct
                        email address</span>
                </div>
            </div>

            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <input
                        class="bg-white appearance-none border-2 border-black rounded w-full py-4 px-4 text-gray-900 leading-tight focus:outline-none focus:border-indigo-500"
                        formControlName="password" type="password"
                        [ngClass]="{'border-red-500':(password.invalid || rForm.value.password != rForm.value.passwordConfirm) && password.touched }"
                        placeholder="Please Input your password">

                    <p *ngIf="password.errors?.minlength && password.touched" class="text-red-500 text-xs italic">
                        Length of password is at least 6 </p>
                    <p *ngIf="password.errors?.pattern && password.touched" class="text-red-500 text-xs italic">Input
                        Password with alphabets and number </p>
                    <p *ngIf="password.invalid&& password.touched" class="text-red-500 text-xs italic"> Please fill in
                        the password</p>
                    <p *ngIf="rForm.value.password != rForm.value.passwordConfirm && password.touched"
                        class="text-red-500 text-xs italic">
                        2 password you input are not equal </p>
                </div>
            </div>

            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                    <input
                        class="bg-white appearance-none border-2 border-black rounded w-full py-4 px-4  leading-tight focus:outline-none focus:border-indigo-500"
                        formControlName="passwordConfirm" type="password"
                        [ngClass]="{'border-red-500':rForm.value.password != rForm.value.passwordConfirm && passwordConfirm.touched}"
                        placeholder="Input Your password again">


                    <p *ngIf="rForm.value.password != rForm.value.passwordConfirm && passwordConfirm.touched"
                        class="text-red-500 text-xs italic">
                        2 password you input are not equal </p>

                </div>
            </div>


            <div class="mt-6 flex items-center justify-between">
                <div class="flex items-center">
                </div>
            </div>

            <div class="mt-6">
                <button type="submit" [disabled]="rForm.invalid || rForm.value.password != rForm.value.passwordConfirm"
                    [ngClass]="{'opacity-50
                    cursor-not-allowed':rForm.invalid}"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                    <span class="absolute left-0 inset-y pl-3">
                        <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    Create Your Account
                </button>
            </div>
        </form>
    </div>
</div>